body{
    background: #efefef;
    margin: 0px;
  }
  a{
    text-decoration: none;
  }
  .clearfix::after{
    content: '';
    display: block;
    clear: both;
  }
  /*上面不要看*/
  .topNav a{
    float: left;
  }
  hr {
    height: 0px;
    border: none;
    border-bottom: 1px solid #dedede;
  }
  .topNav{
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
  }
  .inner{
    padding-right: 15px; 
    padding-left: 15px;
  }
  .banner{
    height: 520px;
    background-image: url(./images/rs-cover-2-2-1-1.jpg);
    background-position: center center;
    background-size: cover;
  }
  .banner .mask{
    height: 520px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .topNav nav{
    float: right;
    padding-top: 14px;
    padding-bottom: 7px;
  }
  .topNav nav>ul>li{
    float: left;
    margin-left: 18px;
    margin-right: 18px;
  }
  .topNav nav>ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .topNav nav>ul>li>a{
    font-size: 12px;
    color: #B7B7B7;
    font-weight: bold;
    border: 2px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
  }
  .topNav nav>ul>li>a:hover{
    border-bottom: 2px solid red; 
  }
  .topNav .logo {
    font-size: 30px;
    font-family: "Arial Black";
    padding-top: 3px;
    padding-bottom: 4px;
  }
  .topNav .logo .rs{
    color: #e8676b;
    margin-right: 3px;
  }
  .topNav .logo .card{
    color: #9a9ba2;
  }
  .usercard{
    max-width: 940px;
    padding-top: 1px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
  }
  .usercard .pictureAndText{
   margin-left: 51px;
   margin-top: 58px;
   padding-bottom: 50px;
  }
  .usercard .welcome{
    background-color: rgb(232, 103, 107);
    display: inline-block;
    color: rgb(255, 255, 255);
    position: relative;
    padding: 6px 16px 6px 16px;
    margin-bottom: 31px;
  }
  .usercard .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
  }
  .usercard .picture{
    float: left;
  }
  .usercard .text{
    float: left;
    margin-left: 63px;
    width: 510px;
    
  }
  .usercard h1, .usercard p{
    margin: 0;
    padding: 0;
  }
  .usercard h1{
    margin-bottom: 8px;
  }
  .usercard hr{
    margin-bottom: 26px;
    margin-top: 26px;
  }
  .usercard dl dt,
  .usercard dl dd{
    float: left;
  }
  .usercard dd{
    margin: 0;
    width: 50%;
    color: #9da0a7;
    padding-bottom: 8px;
  }
.usercard dt{
  width: 50%;
  font-weight: bold;
}
.usercard .media{
  background: #e6686a;
  text-align: center;
}
.usercard .media a{
  display: inline-block;
  width: 40px;
  line-height: 30x;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px 16px;
}
.usercard .media a:hover{
  background: #cf5d5f;
}
.usercard svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}